.highlight-text {
    color: var(--color_theme);
    font-weight: 600;
}

.light-grey-text {
    color: var(--color_light-grey);
}

.text-link {
    color: var(--color_theme);
    font-style: italic;
    text-decoration: none;
}

.bold-t400
{
    font-weight: 400;
}