@import "/reset.css";
@import "/css/root.css";

#HookContent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font_code);
    font-weight: 200;

    & > #hook__image {
        border-radius: 50%;
        border: 2px solid var(--color_theme);
        box-shadow: 0px 0px 120px 5px rgba(0, 209, 160, 0.65);
    }

    & > #Hook__title-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        & > button {
            font-family: var(--font_code);
            font-weight: 300;
            border: 1px solid var(--color_theme);
            border-radius: 0.2rem;
            
            background-color: var(--color_dark);
            color: var(--color_light);
            box-shadow: 0px 0px 59px 0px rgba(0, 209, 160, 0.38);
            
            transition: 0.3s;
            &:hover {
                cursor: pointer;
                background-color: var(--color_theme-darker);
                box-shadow: 0px 0px 89px 5px rgba(0, 209, 160, 0.65);
            }
        }
    }
}


@media screen and (min-width: 1024px) 
{
    #HookContent {
        gap: 5rem;

        & > #Hook__title-button {
            gap: 2.5rem;
            
            & > h2 { font-size: 2rem; max-width: 40vw; }
            & > button { padding: 1.2rem 3.6rem; font-size: 1.8rem; }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px)
{
    #HookContent {
        gap: 3.6rem;
        margin: 0;

        & > img { width: 280px; }
        
        #Hook__title-button {
            gap: 2rem;

            & > h2 { font-size: 1.8rem; max-width: 40vw; }
            & > button { font-size: 1.4rem; padding: 1rem 3.2rem; }
        }
    }
}


@media screen and (min-width: 375px) and (max-width: 768px) 
{
    #HookContent {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        
        & > img { width: 280px; }
        
        #Hook__title-button {
            gap: 2rem;
            
            & > h2 {
                font-size: 1.8rem;
                max-width: 80vw;
                text-align: center;
            }
    
            & > button {
                font-size: 1.3rem;
                padding: 1rem 2.9rem;
            }
        }
    }
}


@media screen and (max-width: 375px) 
{
    #HookContent {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;

        & > img { width: 220px; }
        
        #Hook__title-button {
            gap: 2rem;

            & > h2 {
                font-size: 1.4rem;
                max-width: 80vw;
                text-align: center;
            }
    
            & > button { font-size: 1.2rem; padding: 1rem 3.2rem; }
        }
    }
}