@import "/reset.min.css";
@import "/css/root.min.css";

#projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & > #projects-title {
        font-family: var(--font_code);
        font-weight: 400;
        text-align: center;
    }
    
    & > #cards-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.project-card {
    display: flex;
    flex-direction: column;

    text-decoration: none;
    color: var(--color_light);
    
    border: 1px solid var(--color_theme);
    border-radius: .2rem;
    
    & > p { font-family: var(--font_text); }
    
    & > h3 {
        font-family: var(--font_text);
        text-align: center;
        font-weight: 600;
    }

    transition: 0.4s;
    &:hover { 
        box-shadow: 0px 0px 25px 0px var(--color_theme-boxshadow); 
        border-color: var(--color_theme);
    }

}

@media screen and (min-width: 1024px) 
{
    #projects-title {
        font-size: 2.5rem;
        margin: 3rem 0 5rem 0;
    }

    #cards-container {
        gap: 2rem;
    }

    .project-card {
        max-width: 12.5rem;
        min-height: 11.5rem;

        gap: 2rem;
        padding: 1rem 2rem 2rem 2rem;

        & > h3 {
            width: 90%;
            text-align: center;
            font-size: 1.3rem;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    #projects-title 
    {
        font-size: 2rem;
        margin: 2rem 0 3rem 0;
        width: 80vw;
    }
    
    #cards-container { gap: 2rem;  margin: 0 12vw; }

    .project-card 
    {
        max-width: 13rem;
        min-height: 12rem;
        
        padding: 2rem 2rem 0rem;
        gap: 2.2rem;
        
        & > h3 { 
            font-size: 1.35rem; 
            margin: 0;
        }
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) 
{
    #projects-title 
    {
        min-width: 20rem;
        max-width: 22rem;
        
        font-size: 1.8rem;
        margin: 2rem 0 3rem;
    }

    #cards-container 
    {
        gap: 3rem;
        justify-content: center;
        margin: 1rem 1.5rem;
    }

    .project-card 
    {
        max-width: 11rem;
        min-height: 10rem;

        align-items: center;
        justify-content: space-evenly;
        
        gap: 1.5rem;

        padding: 2.2rem 2rem;
        box-shadow: 0px 0px 30px 0px var(--color_theme-boxshadow);

        & > p { font-size: 1.1rem; }
        
        & > h3 { font-size: 1.4rem; font-weight: 600;}
    }
}


@media screen and (min-width: 320px) and (max-width: 425px) 
{
    #projects-title 
    {
        min-width: 14rem;
        font-size: 1.95rem;
        margin: 2.2rem 0 1.8rem 0;
    }
    
    #cards-container 
    {
        gap: 3rem;
        justify-content: center;
        margin: 3rem 0 0 0;
    }

    .project-card 
    {
        max-width: 50vw;
        min-height: 35vw;

        box-shadow: 0px 0px 30px 0px var(--color_theme-boxshadow);
        padding: 2rem;

        gap: 2.5rem;


        & > h3 { 
            text-align: left;
            font-size: 1.3rem; 
        }
    }
}


@media screen and (max-width: 320px) 
{
    #projects-title 
    {
        font-size: 1.5rem;
        margin: 2.5rem 1rem;
    }

    #cards-container 
    {
        gap: 3rem;
        justify-content: center;
        margin: 3rem 0 0 0;
    }

    .project-card 
    {
        width: 70vw;
        min-height: 8rem;

        padding: 2.2rem 1rem;
        gap: 2rem;    
            
        border-radius: 4px;
        box-shadow: 0px 0px 35px 0px var(--color_theme-boxshadow);

        & > h3 { 
            font-size: 1.3rem; 
        }
    }
}