@import "/reset.min.css";
@import "/css/root.min.css";

#projects-container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & > #projects-title 
    {
        font-family: var(--font_code);
        font-weight: 400;
        text-align: center;
    }
    
    & > #cards-container 
    {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-card {
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
    color: var(--color_light);
    
    border: 1px solid var(--color_theme);
    border-radius: 4px;
    & > p { font-family: var(--font_text); }
    
    & > h3 
    {
        font-family: var(--font_text);
        text-align: center;
    }

    transition: 0.4s;
    &:hover 
    { 
        box-shadow: 0px 0px 59px 0px rgba(0, 209, 160, 0.38); 
        border-color: rgb(0, 234, 179);
    }

}



@media screen and (min-width: 1024px) 
{
    #projects-title {
        font-size: 1.6rem;
        margin-bottom: 4.5rem;
        width: 70vw;
    }

    #cards-container {
        gap: 2rem;
    }

    .project-card {
        width: 10vw;
        padding: 1rem 2rem 1.8rem 2rem;

        & > h3 {
            width: 90%;
            text-align: center;
            font-size: 1.3rem;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) 
{
    #projects-title 
    {
        margin-bottom: 3.5rem;
        width: 80vw;
    }
    
    #cards-container { gap: 2rem; }

    .project-card 
    {
        width: 9.5vw;
        padding: 1rem 2rem 1.8rem 2rem;

        & > h3 { font-size: 1.25rem; }
    }
}


@media screen and (min-width: 425px) and (max-width: 768px) 
{
    #projects-title 
    {
        min-width: 20rem;
        max-width: 22rem;
        font-size: 1.6rem;
    }

    #cards-container 
    {
        gap: 3rem;
        justify-content: center;
        margin: 3rem 0 0 0;
    }

    .project-card 
    {
        width: 14em;
        height: 14rem;
        align-items: center;
        justify-content: space-evenly;
        padding: 3rem 2rem;
        box-shadow: 0px 0px 30px 0px rgba(0, 209, 160, 0.38);

        & > p { font-size: 1.2rem; padding: 1rem 0 0 0; }
        
        & > h3 { font-size: 1.6rem; width: 80%; }
    }
}


@media screen and (min-width: 320px) and (max-width: 425px) 
{
    #projects-title 
    {
        min-width: 14rem;
        max-width: 16rem;
        font-size: 1.6rem;
        margin-top: 2.5rem;
    }
    
    #cards-container 
    {
        gap: 3rem;
        justify-content: center;
        margin: 3rem 0 0 0;
    }

    .project-card 
    {
        width: 13rem;
        height: 14rem;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.8rem 2rem;
        box-shadow: 0px 0px 30px 0px rgba(0, 209, 160, 0.38);

        & > p 
        {
            font-size: 1.35rem;
            text-align: center;
            padding: 1rem 0 0 0;
        }
        
        & > h3 { font-size: 1.55rem; width: 80%; }
    }
}


@media screen and (max-width: 320px) 
{
    #projects-title 
    {
        width: 90vw;
        font-size: 1.5rem;
        margin-top: 2.5rem;
    }

    #cards-container 
    {
        gap: 3rem;
        justify-content: center;
        margin: 3rem 0 0 0;
    }

    .project-card 
    {
        width: 10rem;
        min-height: 12rem;
        max-height: -moz-fit-content;
        max-height: fit-content;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.5rem 2rem;
        border-radius: 1.8rem;
        box-shadow: 0px 0px 35px 0px rgba(0, 209, 160, 0.4);

        & > p 
        {
            font-size: 1rem;
            padding: 1rem 0 0 0;
            text-align: center;
        }

        & > h3 { font-size: 1.35rem; }
    }
}