@import "/reset.min.css";
@import "/css/root.min.css";


#quali-subgroup
{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    
    & > .topic
    {
        box-shadow: 0px 0px 20px 0px rgba(0, 209, 160, 0.3);    
        
        border: 1px solid var(--color_theme);
        border-radius: 8px 0 0 0;
        
        & > .topic-title { font-family: var(--font_code) !important; font-weight: 800; }

        font-family: var(--font_text);

        & > .topic__link-group
        {
            display: flex;
            flex-direction: column;
        }
    }
}

.quali-link 
{
    color: var(--color_theme);   
}

#quali-title { font-family: var(--font_code); text-align: center; }


@media screen and (min-width: 1024px)
{
    #quali-title { font-size: 2.2rem; font-weight: 400;}
    .topic
    {
        width: 20vw;
        padding: .5rem 2rem 2.8rem 2rem;
        margin: 2rem;
    
        font-size: 1.1rem;

        & > .topic-title { font-size: 1.6rem; } 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    #quali-title { font-size: 2rem; font-weight: 400;}

    .topic
    {
        min-width: 20vw;
        max-width: 30vw;

        padding: .5rem 2rem 2.8rem 2rem;
        margin: 2rem;
    
        font-size: 1.1rem;

        & > .topic-title { font-size: 1.6rem; } 
    }
}

@media screen and (min-width: 375px) and (max-width: 768px)
{
    #quali-title { font-size: 1.8rem; font-weight: 400;}

    .topic
    {
        min-width: 35vw;
        max-width: 40vw;

        padding: .5rem 2rem 2.8rem 2rem;
        margin: 2rem;
    
        font-size: 1.1rem;

        & > .topic-title { font-size: 1.4rem; } 
    }
}

@media screen and (max-width: 375px)
{
    #quali-title { font-size: 1.7rem; font-weight: 400;}

    .topic
    {
        min-width: 60vw;
        max-width: 70vw;

        padding: .5rem 2rem 2.8rem 2rem;
        margin: 2rem;
    
        font-size: 1.1rem;

        & > .topic-title { font-size: 1.4rem; } 
    }
}