@import "/reset.min.css";
@import "/css/root.min.css";


#quali-subgroup
{
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    
    & > .topic
    {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        box-shadow: 0px 0px 20px 0px var(--color_theme-boxshadow);    
        
        border: 1px solid var(--color_theme);
        border-radius: 8px 0 0 0;
        
        & > .topic-title { 
            font-family: var(--font_code) !important; 
            font-weight: 600; 
        }

        & > p, & > a {
            font-family: var(--font_text);
        }

        & > .topic__link-group
        {
            display: flex;
            flex-direction: column;
        }
    }
    
    .quali-link {
        color: var(--color_theme);   
    }
}

#quali-title { font-family: var(--font_code); text-align: center; }

@media screen and (min-width: 1024px)
{
    #quali-title { 
        font-size: 2.5rem; 
        margin: 3rem 0 5rem 0;
    }
    
    #quali-subgroup {
        gap: 2.1rem;
    }
    .topic
    {
        width: 20vw;
        padding: 2rem 2.5rem;
        gap: 1.8rem;

        font-size: 1.1rem;

        & > .topic-title { font-size: 1.6rem; } 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px)
{
    #quali-title { 
        margin: 2rem 0 3rem 0;
        font-size: 2.2rem; 
    }

    #quali-subgroup {
        padding: 0 5rem;
        gap: 2.1rem;
    }

    .topic
    {
        min-width: 20vw;
        max-width: 30vw;

        padding: 2rem 3rem;
        gap: 2rem;
    
        font-size: 1.1rem;

        & > .topic-title { font-size: 1.6rem; } 
    
        .quali-link { margin: 1.2rem 0 0 0; }
    }
}

@media screen and (min-width: 375px) and (max-width: 768px)
{
    #quali-title { 
        margin: 2rem 0 2.5rem 0;
        font-size: 2rem; 
        font-weight: 400;
    }

    #quali-subgroup {
        padding: 0 5rem;
        gap: 2.1rem;
    }

    .topic {
        min-width: 15rem;
        width: 60vw;
        padding: 2rem 2rem;
        gap: 1rem;
        font-size: 1.1rem;

        & > .topic-title { font-size: 1.4rem; } 
        .quali-link { margin: 1.8rem 0 0 0; }
    }
}

@media screen and (max-width: 375px)
{
    #quali-title { 
        font-size: 1.7rem; 
        margin: 2rem 0 2.3rem 0;
        padding: 0 .8rem;
    }

    #quali-subgroup {
        gap: 2rem;
    }

    .topic {
        min-width: 12rem;
        max-width: 70vw;

        padding: 1.6rem 1.8rem;
        gap: 1.2rem;

        font-size: 1.1rem;

        & > .topic-title { font-size: 1.4rem; } 
        .quali-link { margin: 2rem 0 0 0; }
    }
}