:root {
  // # Default Theme
  // --color_dark: #101c19;
  // --color_dark-grey: #424242;
  // --color_light-grey: #6b6b6b;
  // --color_light: #f8f7f4;
  // --color_theme: #2ca;//rgba(0, 209, 159, 1);
  // --color_theme-boxshadow: rgba(34, 204, 170, 0.522);
  // --color_theme-darker: rgba(41, 124, 105, 0.5);
  // --icon-color: #2ca;

  //# color 3
  --color_dark:  #262127;
  --color_dark-grey: #424242;
  --color_light-grey: #EAD8C6;
  --color_light: #EAD8C6;
  --color_theme: #cc2a47;//rgba(0, 209, 159, 1);
  --color_theme-darker: #574139;
  
  --color_theme-boxshadow: #cc2a487a;
  --icon-color: #cc2a47;
  
  --font_code: "Cascadia Mono", monospace;
  --font_text: "Arial", sans-serif;
}
body {
  background-color: var(--color_dark);
  color: var(--color_light);
  min-height: 100vh;
}





// # RESET CSS

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}