<nav id="navbar">
    <div id="navbar-desktop">
        <a href="/"><img src="/images/favicon.svg" width="80px" height="80px"/></a>
        <a href="/contato/" class="navbar__text-links">Contato</a>
        <a href="#" class="navbar__text-links">Produtos</a>
        <a href="/projetos/" class="navbar__text-links">Projetos</a>
        <a href="#" class="navbar__text-links">Currículo</a>
    </div>
    
    <div id="navbar-mobile">
        <img id="navbar-mobile__button" src="/images/navbar-mobile-menu-button.svg"/>
        <div id="navbar-mobile__items">
            <a href="/"><img src="/images/favicon.svg" width="80px" height="80px"/></a>
            <a href="/contato/" class="navbar__text-links">Contato</a>
            <a href="#" class="navbar__text-links">Produtos</a>
            <a href="#" class="navbar__text-links">Projetos</a>
            <a href="#" class="navbar__text-links">Currículo</a>
        </div>
    </div>
    <div id="spacer"></div>
</nav>  



<!-- https://placehold.co/80x80 -->