<nav id="navbar">
    <div id="navbar-desktop">
        <a href="/" id="navbar-icon">
            <svg class="navbar-icon" fill="#00" width="80px" height="80px" viewBox="0 0 24 24" stroke="#00">
                <g stroke-width="0"/>
                <g stroke-linecap="round" stroke-linejoin="round"/>
                <g>
                    <path d="M17,9H9a2,2,0,0,0-2,2H6a3,3,0,0,0,0,6H7.35A6,6,0,0,0,19,15V11A2,2,0,0,0,17,9ZM6,15a1,1,0,0,1,0-2H7v2Z"/>
                    <path d="M8,6V4a1,1,0,0,1,2,0V6A1,1,0,0,1,8,6Zm4,0V4a1,1,0,0,1,2,0V6a1,1,0,0,1-2,0Zm4,0V4a1,1,0,0,1,2,0V6a1,1,0,0,1-2,0ZM3,21H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>
                </g>    
            </svg>
        </a>
        <a href="/projetos/" class="navbar__text-links">Projetos</a>
        <a href="/qualificacoes" class="navbar__text-links">Qualificações</a>
        <a href="/contato/" class="navbar__text-links">Contato</a>
    </div>
    <div id="navbar-mobile">
        <img id="navbar-mobile__button" src="/images/navbar-mobile-menu-button.svg"/>
        <div id="navbar-mobile__items">
            <a href="/">
                <svg class="navbar-icon" fill="#00" width="80px" height="80px" viewBox="0 0 24 24" stroke="#00">
                    <g stroke-width="0"/>
                    <g stroke-linecap="round" stroke-linejoin="round"/>
                    <g>
                        <path d="M17,9H9a2,2,0,0,0-2,2H6a3,3,0,0,0,0,6H7.35A6,6,0,0,0,19,15V11A2,2,0,0,0,17,9ZM6,15a1,1,0,0,1,0-2H7v2Z"/>
                        <path d="M8,6V4a1,1,0,0,1,2,0V6A1,1,0,0,1,8,6Zm4,0V4a1,1,0,0,1,2,0V6a1,1,0,0,1-2,0Zm4,0V4a1,1,0,0,1,2,0V6a1,1,0,0,1-2,0ZM3,21H21a1,1,0,0,0,0-2H3a1,1,0,0,0,0,2Z"/>
                    </g>    
                </svg>
            </a>
            <a href="/projetos/" class="navbar__text-links">Projetos</a>
            <a href="/qualificacoes" class="navbar__text-links">Qualificações</a>
            <a href="/contato/" class="navbar__text-links">Contato</a>
        </div>
    </div>
</nav>